@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f9fafb;
}